# Minimal clang-format for webserv
---
IndentWidth: 4
ColumnLimit: 120
UseTab: Never
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: false
AlignTrailingComments: true
IndentAccessModifiers: false
